<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>

.purplebackground{
    background-color: rgb(0, 130, 91);
}

</style>
<body>
    <div class="purplebackground">
<a href="./jobhistory.html">Jobs</a>
<a href="./education.html">Education</a>
<a href="style.css"
<!-- style -->
<style>

    div.box{
text-align: center;
    }
    
.image{
    width: 50;
}
    div{
        background-color: rgb(206, 143, 25);
    }
.border{
    border: indigo;
    border-width: 10px;
    border-style: solid;
    border-radius: 20%;
}
</style>

<!-- style -->
<div>
<h1>
Ronald Holt
</h1>

<div class="box">
<img src="./Me.png" alt="" class="border image">
</div>

<h2 style="color:purple">Graduated and happy
</h2>
    <ul>
     <li>Jan 9th 2000 a wonderkind was born</li>   
     <li>2012 learned martial arts</li>   
     <li>2013 mastered the violin</li>   
     <li>2014 Can draw really good</li>
     <li>2015 Stayed in newyork</li>
     <li>2017 came back to the Nati</li>
     <li>2018 went to Scarlet Oaks
         <li>2019 Graduated</li>
     </li>

     <a href="https://www.linkedin.com/in/ronald-holt-5b86131b6/">My linkedin</a>
    </ul>
    </div>
    </div>
 </body>
</html>
 
 

